/* Grid Fields */

.field-base{
    /* color:red !important; */
    /* border:1px solid red !important; */
  }
  
  /* .field-m2o-container{
      background-color:transparent;
      width:100%;
     
      padding-top:1px;
      padding-right:1px;
  } */
  .field-m2o-input{
    width:90% !important;
    
  }
  
  .field-select-base{
    width:100%;
    background-color:transparent;
    border: 0px !important;
    cursor:pointer;
  }
  
  .field-select-base:focus{
    outline: none;
  }
  
  .field-select-base:disabled{
    background-color:rgba(234,234,234,0.8);
    color:grey !important;
    cursor:not-allowed;
  
  }

  .field-grid-base{
    width:100%;
    background-color:transparent;
    border: 0px !important;
  }
  
  .field-grid-base:focus{
    outline: none;
  }
  
  .field-grid-base:read-only{
    background-color:rgba(234,234,234,0.8);
    color:grey !important;
    cursor:not-allowed;
  
  }
  
  .field-grid-base:required{
    /* background-color:rgba(234,234,234,0.8); */
    text-decoration: underline;
    
    /* cursor:not-allowed; */
  
  }
  
  .field-grid-base-error{
    
    border:1px solid red;
  
  }
  
  .field-grid-base:required::after{
     content:" *";
  }

  .field-with-icon{
    display:flex;
    justify-content: space-between;
    align-items: center;
    width:100%;
    outline:none;

  }


  .icon-field-container{
    align-items:center;
    display:flex;
    flex-direction: row;
    height:100%;
    background-color:transparent;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
  }

  .base-btn{
    height:100%;
    width:100%;
    border:1px solid rgba(234,234,234,0.8);
    background-color:rgb(36,126,182);
    color:white;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius:16px;
    line-height: 0;

  }

  .base-btn:hover{
    
    border:1px solid rgba(234,234,234,0.8);
    background-color:rgb(64, 146, 197);
    color:white;
 
  }

  .base-btn:disabled{
    
    border:1px solid rgba(234,234,234,0.8);
    background-color:rgba(234,234,234,0.8);
    color:grey !important;
    cursor:not-allowed;
    font-weight: 400;
 
  }


  
  .base-btn:focus{
    outline: none;
  }

  .copyDrag{
    position:absolute;
    right:0;
    bottom:0;
    cursor:crosshair;
    height:7%;
    background-color:rgb(64, 146, 197);
  
  }

  .autocomplete-menu{
    z-index:9999 !important;
    max-height:300px !important;
    overflow-y:scroll !important;
  }
  
  .autocomplete-menu-input{
    border:0px !important;
    background-color:transparent !important;
    cursor:pointer;
    width:100%;
    text-overflow:ellipsis;
    
  }
  
  .autocomplete-menu-input:focus{
    outline:none !important;
    /* color:white !important; */
    /* background-color:rgb(36,126,182) !important; */
  
  }
  
  
  
  .autocomplete-menu-item {
    padding:4px;
  }
  
  .autocomplete-menu-item-default{
    border-top:1px solid rgba(234,234,234,0.8);
    padding-top:8px;
    font-weight: 400;
    color:rgb(36,126,182);
    cursor:pointer;
  }
  
  .autocomplete-menu-item-active {
    background-color:rgb(36,126,182) !important;
    color:white;
    
  }

/* Calendar classes */

.react-calendar {
  width: 350px;
  max-width: 100%;
  background: white;
  border: none;
  font-family:"Roboto", "Noto";
  line-height: 1.125em;
}
.react-calendar--doubleView {
  width: 700px;
}
.react-calendar--doubleView .react-calendar__viewContainer {
  display: flex;
  margin: -0.5em;
}
.react-calendar--doubleView .react-calendar__viewContainer > * {
  width: 50%;
  margin: 0.5em;
}
.react-calendar,
.react-calendar *,
.react-calendar *:before,
.react-calendar *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.react-calendar button {
  margin: 0;
  border: 0;
  outline: none;
}
.react-calendar button:enabled:hover {
  cursor: pointer;
}
.react-calendar__navigation {
  height: 44px;
  margin-bottom: 1em;
  background:#1565c0;
  color:white;
  font-weight: 500;
}
.react-calendar__navigation button {
  min-width: 44px;
  background: none;
}
.react-calendar__navigation button:enabled:hover {
  background-color:rgba(249,249,249,0.3);
  border-radius:16px;
}
.react-calendar__navigation button[disabled] {
  background-color: #f0f0f0;
}
.react-calendar__month-view__weekdays {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.75em;
}
.react-calendar__month-view__weekdays__weekday {
  padding: 0.5em;
}
.react-calendar__month-view__weekNumbers {
  font-weight: bold;
}
.react-calendar__month-view__weekNumbers .react-calendar__tile {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.75em;
  padding: calc(0.75em / 0.75) calc(0.5em / 0.75);
}
.react-calendar__month-view__days__day--weekend {
  color: #d10000;
}
.react-calendar__month-view__days__day--neighboringMonth {
  color: #757575;
}
.react-calendar__year-view .react-calendar__tile,
.react-calendar__decade-view .react-calendar__tile,
.react-calendar__century-view .react-calendar__tile {
  padding: 2em 0.5em;
}
.react-calendar__tile {
  max-width: 100%;
  text-align: center;
  padding: 0.75em 0.5em;
  background: none;
  border-radius:16px;
}
.react-calendar__tile:disabled {
  background-color: #f0f0f0;
}
.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  background-color: #e6e6e6;
}
.react-calendar__tile--now {
  background: rgba(0, 0, 0, 0.04);
}
.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
  background: rgba(0, 0, 0, 0.04);
}
.react-calendar__tile--hasActive {
  background: #76baff;
}
.react-calendar__tile--hasActive:enabled:hover,
.react-calendar__tile--hasActive:enabled:focus {
  background: #a9d4ff;
}
.react-calendar__tile--active {
  background: #006edc;
  color: white;
}
.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
  background: #1087ff;
}
.react-calendar--selectRange .react-calendar__tile--hover {
  background-color: #e6e6e6;
}

.calendar-item{
  padding:0px !important;
}

.calendar-item > div{
  padding:0px !important;
}


.field-with-preview{
  display:flex;
  flex-direction:row;
  justify-content: flex-end;
  outline:none;
  
}

.field-binary-vcontrols{
  display:flex;
  flex-direction: column;
  justify-content: space-around;
  background-color:rgba(234,234,234,0.6);
  
}
.image-picker-modal{
  padding:0px !important;
  width:100em;
  
}

.image-picker-container{
  display:flex;
  width:100%;
  
}

.image-picker-list{
  display:flex;
  flex-direction:column;
  width:60%;
  overflow:scroll;
}
.image-picker-preview-container{
  text-align: center;
  flex-grow:1;

}


.image-picker-item {
  padding:10px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  border-right:1px solid rgba(0, 0, 0, 0.1);
  list-style-type: none;
  cursor:pointer;
  margin:0px;
  width:100%;
  z-index:9999 !important;
}

.image-picker-item:hover {
  background-color:rgba(0, 0, 0, 0.1);
}

.image-picker-dropfile{
  display:flex;
  justify-content: flex-start;
  width:100%;
  height:100%;
  color: rgba(0,0,0,0.50);
  border:2px dashed rgba(0, 0, 0, 0.3);
  margin:3px;
}

.dropzone-placeholder{
  width:100%;
  text-align: center;
  align-self:center;
  font-size:1.5em;
}
.dropzone-placeholder:hover{
  color:rgb(40,80,146) !important;
  cursor:pointer;
}

.tox .tox-notification--error{
  display:none !important;
}

.tox .tox-notification--warn, .tox .tox-notification--warning{
  display:none !important;
}





/* End Calendar Classes */


  /* END Grid Fields */

  